<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <section class="card m-2 p-2">
      <%= render user %>
      <p>
        <%= link_to "Show this user", user, class: "btn btn-primary" %>
      </p>
    </section>
  <% end %>
</div>

<%= link_to "New user", new_user_path, class: "btn btn-danger" %>
