<h2>List of ratings</h2>

<ul>
 <% @ratings.each do |rating| %>
   <li> <%= render rating %> </li>
 <% end %>
</ul>
<%= link_to 'Add rating', ratings_new_path %>
<p>Ratings count: <%= @ratings.count %></p>