<h2>List of ratings</h2>
<ul>
  <% @ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% unless rating.user == nil %>
        <%= link_to rating.user.username, rating.user %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= link_to 'Add rating', new_rating_path %>
<p>Ratings count: <%= @ratings.count %></p>
