<h1>Styles</h1>

<div id="styles">
  <% @styles.each do |style| %>
    <section class="card m-2 p-2">
      <%= render style %>
      <p>
        <%= link_to "Show this style", style %>
      </p>
    </section>
  <% end %>
</div>

<%= link_to "New style", new_style_path %>
