<h2>Breweries</h2>

<table id="datatable" data-json="breweries" class="table table-hover">
  <thead>
    <tr>
      <th data-name="name"><span>Name</span> </th>
      <th data-name="year"><span>Founded</span> </th>
      <th data-name="beer_count"><span>Beer count</span> </th>
      <th data-name="status"><span>Active</span> </th>
    </tr>
  <thead>
  <tbody>
  </tbody>
</table>