<h2>Beers</h2>

<table id="datatable" data-json="beers" class="table table-hover">
  <thead>
    <tr>
      <th id="name" data-name="name"><span>Name</span> </th>
      <th id="style" data-name="style"><span>Style</span> </th>
      <th id="brewery" data-name="brewery"><span>Brewery</span> </th>
    </tr>
  <thead>
  <tbody>
  </tbody>
</table>